div.registerform{
  height: 200px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#masterpanel{
  display: none;
}
#workerpanel{
  display: none;
}

#regleft
{
	float: left;
}

#regright
{
	float: left;
}

#cleaner
{
	clear: both;
}
